@import 'global/_variables';
@import 'global/color-classes';
@import 'components/card';
@import 'components/availability';
@import 'components/fire-engine-info';
@import 'components/marker';
@import 'components/new-items';
@import 'components/info-panel';
@import 'components/navbar';
// Override and add to settings

.marker {
  background-image: url(/img/marker.png);
  background-size: cover;
  width: 25px;
  height: 40px;
  cursor: pointer;
}
.fire-engine{
  background-image: url(/img/fire-engine.png);
  background-size: contain;
  height: 15px;
  cursor: pointer;
  width: 28px;
  background-repeat: no-repeat;
}
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.main-container
{
  display: flex;
  flex-direction: row;
}
.list-container {
  list-style: none;
  padding: 0;
  margin: 0;
}
.side-bar {
  padding: 0 16px;
  min-width: 300px;
  
  & > * {
    margin-bottom: 16px;
  }
}

input[type='text'] {

}
.search {
  &-bar input{
    padding: 12px;
    width: 100%;
    border-radius: 24px;
    border-style: solid;
    border-color: lightgrey;
  }
  &-bar form {
    position: relative;
  }
  &-icon {
    width: 52px;
    position: absolute;
    padding: 10px;
    right: 0;
  }
}
