﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Save - T</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/dist/app.bundle.css" />
            <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />
            <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
            <script src="~/dist/lib.bundle.js"></script>
            <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
            <script src="~/node_modules/react/umd/react.development.js"></script>
            <script src="~/node_modules/react-dom/umd/react-dom.development.js"></script>
            <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        </environment>
    </head>
    <body>
                @RenderBody()
    <environment include="Development">
            <script src="~/dist/app.bundle.js"></script>
        </environment>
        <environment exclude="Development">

        </environment>

        @RenderSection("Scripts", required: false)
    </body>
</html>
