.availability {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  &.available {
    background-color: green;
  }
  &.en_route {
    background-color: orange;
  }
  &.unavailable {
    background-color: red;
  }
}

