.card
{
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  
  & &-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75em;
  }
  &-elevation-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
  }
}