.info-panel {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  height: 500px;
  width: 500px;
  position: absolute;
  top: calc(100vh / 4);
  background-color: white;
  transition: 0.5s right ease-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &.open {
    right: 0;
  }
  &.closed {
    right: -500px;
  }
  .close-btn {
    cursor: pointer;
  }
  .title-bar {
    display: flex;
    padding: 16px 16px 16px 0;
    justify-content: space-between;
    
    .title {
      font-size: 2em;
    }
  }
  
  .information-dialog {
  }
}